<h1 class="rotating-object">SMS</h1>

<form [formGroup]= "sendSmsForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="phone Number">
      Phone Number
    </label>
    <input id="name" type="text" formControlName="phoneNumber">
  </div>

  <div>
    <label for="message">
      Message
    </label>
    <input id="address" type="text" formControlName="message">
  </div>

  
  <button class="button" type="submit">Send</button>
</form>

<p *ngIf="sequenceNumber">
  SequenceNumber : {{sequenceNumber}}
</p>


<p *ngIf="status">
  Status : {{status}}
</p>

<p *ngIf="status == 'FAILED'">
  :(((((((
</p>